[submodule "paypay-commons"]
	path = paypay-commons
	url = https://github.com/ricardoSANICK/paypay-commons.git
[submodule "paypay-security"]
	path = paypay-security
	url = https://github.com/ricardoSANICK/paypay-security.git
[submodule "paypay-middleware-api"]
	path = paypay-middleware-api
	url = https://github.com/ricardoSANICK/paypay-middleware-api.git
[submodule "paypay-domain"]
	path = paypay-domain
	url = https://github.com/ricardoSANICK/paypay-domain.git
[submodule "paypay-core-api"]
	path = paypay-core-api
	url = https://github.com/ricardoSANICK/paypay-core-api.git
[submodule "paypay-baymax-frontend-vue"]
	path = paypay-baymax-frontend-vue
	url = https://github.com/ricardoSANICK/paypay-baymax-frontend-vue.git
