[submodule "paypay-commons"]
	path = paypay-commons
	url = https://github.com/ricardoSANICK/paypay-commons.git
[submodule "paypay-security"]
	path = paypay-security
	url = https://github.com/ricardoSANICK/paypay-security.git
